@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  background-color: #f1f1f1;
  font-family: "Noto Sans KR", sans-serif;
}
html body main section {
  max-width: 800px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
}
:root .mainContents {
  margin: 0 auto;
}
:root .appPage {
  max-width: 800px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #ddd;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #e72223;
}

ol, ul, li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 100%;
}

input, textarea, button {
  border: 0;
  padding: 0;
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

:root {
  --moreBig: 5rem;
  --big: 3rem;
  --middle: 2rem;
  --small: 1.5rem;
}
:root .fixed {
  position: fixed;
  right: calc(50% - 390px + var(--small));
}

@media screen and (max-width: 780px) {
  :root {
    --moreBig: 10vw;
    --big: 6vw;
    --middle: 4vw;
    --small: 3vw;
  }
  :root .fixed {
    right: var(--small);
  }
}
@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
header .foot_head {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-top: 35px;
}
header .foot_head h1 {
  font-size: 40px;
  font-weight: 500;
}
header .foot_head figure {
  margin-right: 100px;
  width: 104px;
  height: 93px;
}
header .foot_head figure img {
  width: 100%;
}
header .menu {
  padding-top: 40px;
  padding-bottom: 40px;
}
header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu ul li {
  margin-right: 50px;
}
header .menu ul li:last-child {
  margin-right: 0;
}

main section {
  background-color: #F7F7F7;
}
main .add_wrap {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
main .add_wrap .swiper-wrapper .swiper-slide img {
  width: 100% !important;
}
main .add_wrap .swiper-pagination-bullet-active {
  background: #fff;
}
main .sbox_wrap .sch {
  position: relative;
  text-align: center;
  padding-top: 77px;
}
main .sbox_wrap .sch input {
  width: 500px;
  height: 60px;
  background: #EDEDED;
  border-radius: 20px;
  opacity: 0.5;
  text-align: center;
  font-size: 20px;
}
main .sbox_wrap .sch button {
  cursor: pointer;
  position: absolute;
  right: 13%;
  bottom: 9%;
  border: 0;
  background: transparent;
}
main .sbox_wrap .cate_list {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .sbox_wrap .cate_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 38%;
  height: 225px;
  background: rgba(238, 238, 238, 0.9333333333);
  text-align: center;
  margin-right: 20px;
  margin-bottom: 17px;
  border-radius: 15%;
}
main .sbox_wrap .cate_list li a span {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 18px;
  font-weight: bold;
}
main .sbox_wrap .cate_list li a img {
  width: 175px;
  height: 100%;
}
main .sbox_wrap .cate_list li:nth-child(even) {
  margin-right: 0;
}
main .sbox_wrap .cate_list a:nth-child(2n) {
  margin-top: 30px;
}
main .price-01 {
  margin-top: 115px;
  padding-left: 60px;
  padding-right: 60px;
}
main .price-01 h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
}
main .price-01 ul {
  margin-top: 22px;
}
main .price-01 ul li {
  display: flex;
}
main .price-01 ul li figure {
  margin-right: 20px;
  margin-bottom: 30px;
}
main .price-01 ul li figure img {
  width: 90%;
}
main .price-01 ul li .txt {
  text-align: left;
}
main .price-01 ul li .txt strong {
  display: block;
  font-size: 17px;
  margin-top: 22px;
  margin-bottom: 20px;
}
main .price-01 ul li .txt p {
  font-size: 14px;
  margin-bottom: 10px;
}
main .price-02 {
  margin-top: 115px;
  padding-left: 60px;
  padding-right: 60px;
}
main .price-02 h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
}
main .price-02 ul {
  margin-top: 22px;
}
main .price-02 ul li {
  display: flex;
}
main .price-02 ul li figure {
  margin-right: 20px;
  margin-bottom: 30px;
}
main .price-02 ul li .txt {
  text-align: left;
}
main .price-02 ul li .txt strong {
  display: block;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 20px;
}
main .price-02 ul li .txt p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}
main .add-01 {
  position: relative;
  padding-top: 100px;
}
main .add-01 figure img {
  width: 100%;
}
main .add-01 .bg {
  width: 100%;
}
main .add-01 .bubble {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, 50%);
}
main .add-01 .bubble img {
  width: 100%;
  position: relative;
}
main .add-01 .bubble figcaption {
  position: absolute;
  top: 33%;
  left: 22%;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
main .add-01 p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  line-height: 1.8;
  transform: translate(-50%, 50%);
}
main .add-01 p span {
  color: #84EAC3;
}
main .add-02 {
  margin-top: 100px;
}
main .add-02 p {
  text-align: center;
  font-size: 31px;
  line-height: 1.4;
  margin-bottom: 110px;
}
main .add-02 figure {
  text-align: center;
  margin-bottom: 150px;
}
main .add-03 {
  position: relative;
}
main .add-03 figure img {
  width: 100%;
}
main .add-03 .inn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .add-03 .inn strong {
  display: block;
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 1.3;
}
main .add-03 .inn p {
  font-size: 19px;
  color: #8E8E8E;
  line-height: 1.6;
}
main .add-03 .inn a {
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-top: 40px;
  width: 337px;
  height: 62px;
  line-height: 62px;
  border: 1px solid #EFEFEF;
  background: #8AFACF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=globals.css.map */